body {
    margin: 0;
    padding: 0;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: black;
}

.timeline {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}
/* disable selecting content */
* {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
* {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
*::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.hidden{
    animation: slideDown 0.5s ease-in-out;

}
.event {
    flex: 0 0 100vw; /* take full width of the screen*/
    width: 100vw; /* Take the full width of the screen */
    height: 100vh; /* Take the full height of the screen */
    margin: 0;
    padding: 0;
    opacity: 0; /* Initially hide the events */
    transition: opacity 0.5s ease-in-out; /* Add a transition effect */
    background-position: center;
    color: #fff;
    position: relative;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    border-right: 1px solid white;
}
.event img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    opacity: 0.2;
}
.tools span{
    display: inline-block;
    margin: 10px;
    background-color: dodgerblue;
    padding: 5px;
    border-radius: 5px;
    color: white;
    min-width: 50px;
    text-align: center;
    font-weight: bold;
}
.event.visible {
    animation: slideUp 0.5s ease-in-out;
    opacity: 1; /* Show the events when they become visible */
}
.content{
    padding: 40px;
    width: 50%;
    text-align: left;
    overflow-wrap: break-word;
}
.content h2 {
    font-size: 64px;

}

.content p {
    font-size: 40px;
    word-break: break-word;
}
.prog-parent{
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    z-index: 999;
    height: 15px;
    border: 1px solid rgba(255, 255, 255, 0.104);
    cursor: pointer;
}
#prog{
    width: 0%;
    height: 15px;
    background-color: dodgerblue;
}
@keyframes slideUp{
    0%{
        transform: translateY(100vh);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideDown{
    0%{
        transform: translateY(0px);
        opacity: 1;
    }
    100%{
        transform: translateY(100vh);
        opacity: 0;
    }
}
